<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">

</head>
<body>

  <% for (let produto of produtos){ %>
    <h1>Picolo</h1>
  <% } %>

  <h1></h1>
  <div class="cardix">
    <a href="/produto">
    <img src="https://www.giraofertas.com.br/wp-content/uploads/2022/07/Hypnotic-Poison-Dior-Eau-de-Toilette-Feminino-08.jpg" class="imagem"></img>

    <h3 class="perfume-h3">Hypnotic Poison</h3>
    <p class="perfume-p">R$425,00</p>
    <p class="perfume-p">Marca: Dior</p>
    <p class="perfume-p">Notas: doces de damasco, ameixa e coco. Evolui em notas de coração florais e femininas de jasmim, tuberosa, lírio-do- vale e rosas e o amadeirado quente e provocante do pau-Brasil e da alcaravia.</p>
  </a>
  </div>

  <div class="cardix">
    <a href="/produto">
<img src="https://thumbor.cartpanda.com/1OLxgk120--OkzRM0EkN9Inr0Z4=/1024x0/https://assets.mycartpanda.com/static/products_images/ed/5d/69/1680626634180.jpeg?v=13252247658" class="imagem"></img>

<h3 class="perfume-h3">Good Girl: Velvet Fatale</h3>
<p class="perfume-p">549,90</p>
<p class="perfume-p">Marca: Carolina Herrera</p>
<p class="perfume-p">Notas: As notas de topo são: Amêndoa, Café, Limão e Bergamota. As notas de coração são: Tuberosa, Jasmim, Rosa Búlgara e Raíz de Orris.</p>
</div>

<div class="cardix">
  <a href="/produto">
<img src="https://www.sephora.com/productimages/product/p436489-av-01-zoom.jpg" class="imagem"></img>

<h3 class="perfume-h3">Lost Cherry</h3>
<p class="perfume-p">R$3.690,00</p>
<p class="perfume-p">Marca: Tom Ford</p>
<p class="perfume-p">Notas: Cereja negra, Amendoa amarga, Rosa absoluta, Tonka Torrada.</p>
</div>



</body>
</html>