
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
</head>
<body>

<div class="cardix">

        <img src="https://www.giraofertas.com.br/wp-content/uploads/2022/07/Hypnotic-Poison-Dior-Eau-de-Toilette-Feminino-08.jpg" class="imagem"></img>
        <h3 class="perfume-h3">Hypnotic Poison</h3>
        <p class="perfume-p">R$425,00</p>
        <p class="perfume-p">Marca: Dior</p>
        <p class="perfume-p">Notas: doces de damasco, ameixa e coco. Evolui em notas de coração florais e femininas de jasmim, tuberosa, lírio-do- vale e rosas e o amadeirado quente e provocante do pau-Brasil e da alcaravia.</p>
        </div>


</body>
</html>